<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Club FuRN - <%= title %></title>
    
    <link rel="icon" type="image/png" href="/cdn/logos/club/HeadOnly.png">
    <link rel="stylesheet" href="/cdn/css/main.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="preconnect" href="https://docs.google.com">
    <link rel="preconnect" href="https://sheets.googleapis.com">

    <meta name="title" content="Club FuRN">
    <meta name="description" content="<%= locals.description || 'The Club FuRN Community Hub. Check event times, DJ lineups, and join us in VRChat!' %>">
    <meta name="theme-color" content="<%= locals.themeColor || '#f2008d' %>">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://clubfurn.com"> 
    <meta property="og:title" content="Club FuRN - <%= title %>">
    <meta property="og:description" content="<%= locals.description || 'The Club FuRN Community Hub. Check event times, DJ lineups, and join us in VRChat!' %>">
    <meta property="og:image" content="https://clubfurn.com/cdn/logos/club/HeadOnly.png">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://clubfurn.com">
    <meta property="twitter:title" content="Club FuRN - <%= title %>">
    <meta property="twitter:description" content="<%= locals.description || 'The Club FuRN Community Hub. Check event times, DJ lineups, and join us in VRChat!' %>">
    <meta property="twitter:image" content="https://clubfurn.com/cdn/logos/club/HeadOnly.png">
</head>
